<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Yelp camp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- navbar: -->
    <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar header">
          <a href="/" class="navbar-brand">YelpCamp</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class=" navbar-nav navbar-right">
            <li><a href="/">Login</a></li>
            <li><a href="/">Login</a></li>
            <li><a href="/">Login</a></li>
          </ul>
        </div>
      </div>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </nav>

    <!-- content here  -->
    <!-- footer here  -->
  </body>
</html>
